@{
    ViewData["Title"] = "Comfirmaçao apagar o contato";
}
<div class="text-center"
   <h3>realmente deseja apagar o contato?</h3>

<a class="btn btn-primary bnt block" role="button" asp-controller="contato" asp-action="index">camcelar exclusao</a>
<a class="btn btn-danger bnt block" role="button" asp-controller="contato" asp-action="apagar">comfirmar exclusao</a>